<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Charlotte Getaways</h2>
  <p>
    The Charlotte Getaways project exists to collect ideas for places to go on daytrips and weekends from Charlotte, NC.
    From the beach to the mountains and everything in between, you can see it all when you live in Charlotte!
  </p>
  {{#link-to "contact" class="button"}}
    About the Developer
 {{/link-to}}
</div>
