<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About the Creator</h2>
  <p>John Potts is a web developer based out of Charlotte, NC.</p>
  <address>
    <a href="johndpotts.github.io">John's Portfolio</a><br>
    <a href="mailto:jdpotts189@gmail.com">jdpotts189@gmail.com</a>
  </address>
  {{#link-to "about" class="button"}}
   About This Project
 {{/link-to}}
</div>
